<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.personal.kakaoLogin.mapper">

	<!-- 회원 정보 조회 -->
	<select id="selectOne" resultType="dto" parameterType="String">
		select * from liferegister
		where
		common_id = #{common_id}
		and
		common_pw = #{common_pw}
	</select>
	
	
	<!-- 회원 가입 -->
	<insert id="register" parameterType="dto">
	
	
		INSERT INTO liferegister
		(
		common_code, common_id, common_pw, common_name, common_birth, common_gender, common_phone, common_addr
		)
		values
		(
		(select count(common_code)+1 from liferegister lr),
		#{common_id}, #{common_pw}, #{common_name},
		#{common_birth}, #{common_gender}, #{common_phone}, 
		#{common_addr}
		)
	</insert>
	
	<insert id="insertLaw" parameterType="dto">
	<!-- 시퀀스 생성 -->
	<!-- http://www.trandent.com/article/etc/detail/670 -->
	
		INSERT INTO law_info
		
		values(
		(select CONCAT('S', '-', (SELECT LPAD((select count(common_code)+1 from liferegister lr),4,'0')))),
		(select count(common_code)+1 from liferegister lr),
		#{law_license}, 0
		);
		
	</insert>
	
	<insert id="insertSaver" parameterType="dto">
	
		INSERT INTO saver_info
		(
		saver_code, common_code, saver_license, saver_grade, saver_job_addr, saver_job, saver_auth
		)
		
		values
		(
			(select CONCAT('S', '-', (SELECT LPAD((select count(common_code)+1 from liferegister lr),4,'0')))),
			(select count(common_code)+1 from liferegister lr),
			${saver_license}, ${saver_grade}, #{saver_job_addr}, #{saver_job}, 0
		);
	

	</insert>
	
	<select id="saverByCommonCode" resultType="dto" parameterType="String">
		
		select * from saver_info
		where
		common_code = #{common_code};
	
	</select>
	
	<select id="lawyerByCommonCode" resultType="dto" parameterType="String">
		
		select * from law_info
		where
		common_code = #{common_code};
	
	</select>
	
	<select id="selectByID" resultType="dto" parameterType="String" >
	
		select * from liferegister
		where common_id = #{common_id};
	</select>
	
	<select id="selectByLicenseSaver" resultType="dto" parameterType="String">
		select * from saver_info
		where saver_license = #{saver_license};
	
	</select>
	
	<select id="selectByLicenseLaw" resultType="dto" parameterType="String">
		select * from law_info
		where law_license = #{law_license};
	
	</select>
	
	<select id="idChk" resultType="int">
		
		select count(*) from liferegister
		where common_id = #{common_id};
	</select>
	
	<select id="sLicenseChk" resultType="int" parameterType="String">
		
		select count(*) from saver_info
		where saver_license = #{saver_license};
	</select>
	
	<select id="lLicenseChk" resultType="int" parameterType="String">
		
		select count(*) from law_info
		where law_license = #{law_license};
	</select>
	
	<select id="phoneChk" resultType="int" parameterType="String">
	
		select count(*) from liferegister
		where common_phone = #{common_phone};
	</select>

</mapper>